@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="text-align:center;margin-top:30px;margin-bottom:30px;" class="container">Mail: elzoghbyalaa@yahoo.com</h2>
